<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../card.css" />
		<title>Card example</title>
	</head>
	<body>
		<div class="card">
			<h1>Card Title</h1>
			<div class="container">
				<img src="//unsplash.it/350/250" class="class" alt="alt" />
				<div class="overlay-card">
					<h1>Overlayed text</h1>
					<p>Overlayed body text</p>
				</div>
			</div>
		</div>
	</body>

	<style>
		.container {
			position: relative;
			width: 100%;
		}

		img {
			width: 100%;
		}
	</style>
</html>
