@font-face {
	font-family: 'Raleway-Grid';
	src: url('../fonts/RalewayRegular.woff') format('woff');
}


@font-face {
	font-family: 'Raleway-Grid';
	src: url('../fonts/RalewayBold.woff') format('woff');
	font-weight: bold;
}
	
@font-face {
	font-family: 'Intro-Grid';
	src: url('../fonts/IntroRegular.woff') format('woff');
}


@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pt_sans-web-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pt_sans-web-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pt_sans-web-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

