body input:required:valid,
body textarea:required:valid {
	color: green;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: red;
}

textarea[contenteditable] {
	-webkit-appearance: none;
}

textarea {
	resize: vertical;
}
